@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

.carousel-item {
    /* height: 100vh; */
    /* background-size: cover; */
    /* background-position: center; */
}

.hero-img {
    position: relative;
    /* Corrected typo */
}

.img1 {
    height: 413px;
    border-radius: 50% / 30%;
    width: 318px;
    border: 10px solid white;
}

.img2 {
    height: 296px;
    width: 227px;
    border-radius: 50% / 30%;
    border: 10px solid white;
    position: absolute;
    top: 100px;
    left: 380px;
    z-index: 1;
}

.hero-subtitle {
    font-family: 'Times New Roman', Times, serif;
    font-size: 30px;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
    font-variation-settings:
        "wdth" 100;
    color: #ff681a;
}

.hero-title {
    font-family: 'Times New Roman', Times, serif;
    font-size: 50px;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
}
.btn-read{
   font-family: "Roboto", sans-serif;
    font-size: 20px;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
    color: #ff681a;
    text-decoration: none;
    border: 2px solid #ff681a;
    padding: 10px 20px;
    border-radius: 5px;
    /* transition: background-color 0.3s ease, color 0.3s ease; */
}